Source: libxsp
Section: gui
Priority: optional
Maintainer: Oleg Romashin <romaxa@gmail.com>
Build-Depends: debhelper (>= 4.0.0), libx11-dev (>= 1:0.99.2-1), libxext-dev (>= 1:0.99.1-1), x11proto-xsp-dev, x11proto-xext-dev, x11proto-fixes-dev, pkg-config, quilt, autoconf2.13, automake1.7, libtool
XCS-Cross-Build-Depends: libx11-dev, x11proto-xext-dev, libxext-dev
XCS-Cross-Host-Build-Depends: debhelper, pkg-config, quilt, autoconf2.13, automake1.7, libtool
Standards-Version: 3.6.1.0

Package: libxsp0
Section: gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: X S P lib
 Xomap server specific extension runtime library

Package: libxsp0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libxsp0 (= ${Source-Version}), ${misc:Depends}
Description: X S P lib - debug files
 Xomap server specific extension runtime debug library

Package: libxsp-dev
Section: host-tools
Architecture: any
Depends: x11proto-xsp-dev, libxsp0 (= ${Source-Version}), libx11-dev
Description: X S P lib - development files
 Xomap server specific extension, development headers
